@inject IUserService userService
@{
    ViewData["Title"] = "My Reservations";
    var currentUser = await userService.FindCurrentUserAsync();
}
@section Styles {
    <link rel="stylesheet" href="~/assets/css/my-reservations.css" />
}
@model List<Reservation>

@foreach (var reservation in Model)
{
    if (reservation.Status == ReservationStatus.Ongoing)
    {
        <div class="reservation-card">
            <h2>@reservation.Room.Name</h2>
            <p><strong>Theme:</strong> @reservation.Theme</p>
            @if (reservation.HostId == currentUser!.Id)
            {
                <p><strong>As:</strong> Host</p>
            }
            else
            {
                <p><strong>As:</strong> Guest</p>
            }
            <p><strong>Participants:</strong></p>
            <ul>
                @foreach (var participant in reservation.Participants)
                {
                    <li>- @participant.FullName</li>
                }
            </ul>
            <p><strong>Status:</strong> @reservation.Status.ToString()</p>
            <p><strong>Start:</strong> @reservation.StartDate</p>
            <p><strong>End:</strong> @reservation.EndDate</p>
            @if (reservation.HostId == currentUser!.Id)
            {
                <form asp-action="Cancel" asp-controller="Reservation" asp-route-reservationId="@reservation.Id" method="post">
                    <button type="submit">Cancel</button>
                </form>
            }
        </div>
    }
    else
    {
        <div class="reservation-card done">
            <h2>@reservation.Room.Name</h2>
            <p><strong>Theme:</strong> @reservation.Theme</p>
            @if (reservation.HostId == currentUser!.Id)
            {
                <p><strong>As:</strong> Host</p>
            }
            else
            {
                <p><strong>As:</strong> Guest</p>
            }
            <p><strong>Participants:</strong></p>
            <ul>
                @foreach (var participant in reservation.Participants)
                {
                    <li>- @participant.FullName</li>
                }
            </ul>
            <p><strong>Status:</strong> @reservation.Status.ToString()</p>
            <p><strong>Start:</strong> @reservation.StartDate</p>
            <p><strong>End:</strong> @reservation.EndDate</p>
        </div>
    }
}